* {
  color: seashell;
  opacity: 0.9;
}

body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  margin: 0px auto;
  text-align: center;
  z-index: 10;
}

.header {
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  height: 69px;
  justify-content: space-between;
  margin: 0px auto;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.logoimg {
  height: 50px;
}

.logo {
  display: flex;
  padding: 9.5px 10px;
}

.headernav {
  display: inline-flex;
  justify-content: space-between;
  margin-right: 20px;
  text-decoration: underline;
}

p.nav {
  margin-left: 20px
}

.body {
  align-items: center;
  position: relative;
  top: 69px;
}

.mission {
  align-items: center;
  background-image: url(../images/img-mission-background.jpg);
  display: flex;;
  height: 700px;
  margin: 0px auto;
  width: 1200px;
}

.mission-text {
  background-color: black;
  text-align: center;
  width: 100%;
}

.mission-text h2,
.mission-text h4 {
  margin: 20px auto;
}

.featured-tea {
  margin: 50px auto;
  width: 1000px;
}

.featured-tea-header {
  text-align: center;
}

.featured-tea-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.tea {
  padding: 0px 15px;
}

.tea img {
  height: 200px;
  margin: 0px auto;
  width: 300px;
}

.tea h4 {
  margin: 0px auto;
  padding: 10px 0px;
}

.locations {
  align-items: center;
  background-image: url("../images/img-locations-background.jpg");
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  margin: 0px auto;
  width: 1200px;

}

.locations-container {
  display: flex;
  justify-content: space-between;

}

.locations h2 {
  margin-bottom:15px;
}

.address{
  background-color: black;
  display: flex;
  flex-direction: column;
  margin: auto 20px;
  opacity: 1;
  text-align: center;
  width: 300px;
}

.footer {
  height: 200px;
}

.copyright {
  margin-left: 20px;
  text-align: left;
}
